//- events/booking.modal.jade
ion-modal-view {{item=myBooking.event; me=myBooking.person;''}}
  ion-header-bar.bar-balanced
    h1.title Join {{ item.title }}
  ion-content
    div.list.card
      div.item.item-divider.item-positive
        span.light.larger {{item.title}}
      div.item(ng-class="item.host.face ? 'item-avatar' : 'item-icon-left'")
        img(ng-src="{{item.host.face}}" ui-sref="app.profile({id:'{{item.host.id}}'})")
        i.icon.ion-person(ng-show="!item.host.face")
        h2 Hosted by 
          b {{ [item.host.firstname,item.host.lastname].join(' ')  || item.ownerId }}
        p {{ item.startTime | amCalendar }} 
          span.dark ( {{item.summary.countdown}} )
      div.item.item-text-wrap
        p 
          b {{item.title}} 
          {{ item.description }}
      div.item.item-icon-left 
        i.icon.ion-ios-people
        {{ item.seatsTotal }} seats / {{ item.seatsOpen }} open


    form(name="bookingForm" novalidate="" ng-submit="vm.on.submitBooking(myBooking, closeModal)")

      div.list {{ booking = myBooking.booking;'' }}
        div.item.item-avatar
          img(ng-src="{{me.face}}")
          b {{[me.firstname,me.lastname].join(' ') }} - You are about to join this event.
        label.item.item-input
          span.input-label Number of People
          input(type="text" name="seats" min="1" max="{{item.seatsOpen}}" ng-model="booking.seats")
        div.item.range.range-positive
          i.icon.ion-ios-person.positive
          input(type="range" name="seats" min="1" max="{{item.seatsOpen}}" ng-model="booking.seats")
          i.icon.ion-ios-people.positive
        label.item.item-input
          textarea(ng-model="booking.comment" placeholder="Add a message to announce your participation!" maxlength="165")

        //- div.item.item-text-wrap.button-full
        //-   b Guests are asked to make a contribution to the event
        //-   div.button.button-balanced.icon.ion-android-add-circle(
        //-     ng-click="vm.on.menuView('contribute')"
        //-   ).
        //-     Contribute
        div.item.button-bar
          button.button.button-positive.button-outline(ng-click="closeModal()") Cancel
          button.button.button-positive(type="submit") Join



