//- events/contribute.modal.jade
ion-modal-view 
  ion-header-bar.bar-positive {{event=vm.event; me=vm.me; mitem = myContribution.menuItem;''}}
    h1.title Contribute to {{ event.title }}
  ion-content
    form(name="contributeForm" novalidate="" ng-submit="vm.on.submitContribute(myContribution, closeModal);")

      div.list.padding {{contribution = myContribution.contribution;''}}
        div.item.item-avatar 
          img(ng-src="{{me.face}}")
          div.wrap #[b{{[me.firstname,me.lastname].join(' ') }}]: You are about to contribute a new Menu Item.
        label.item.item-input.item-floating-label
          span.input-label Title
          input(type="text" name="Title" placeholder="Title" ng-model="mitem.title")
        label.item.item-input.item-select
          div.input-label Category
          select(ng-model="mitem.category")
            option Starter
            option Side
            option Main
            option Dessert
            option Setting
            option Servicing
            option Resource
        label.item.item-input.item-floating-label
          span.input-label Description
          textarea(placeholder="Description" ng-model="mitem.detail" maxlength='255')
        label.item.item-input.item-floating-label
          span.input-label Link
          input(type="text" name="Link" placeholder="Link" ng-model="mitem.link")   
        label.item.item-input.item-floating-label
          span.input-label Photo
          input(type="text" name="Photo" placeholder="Photo" ng-model="mitem.pic")    
        label.item.item-input
          span.input-label Number of Portions
          input(type="text" name="portions" min="1" max="{{2 * myContribution.maxPortions}}" ng-model="contribution.portions")
        div.item.item-floating-label.range.range-positive
          i.icon.ion-ios-person.positive
          input(type="range" name="portions" min="1" max="{{myContribution.maxPortions}}" ng-model="contribution.portions")
          i.icon.ion-ios-people.positive
        label.item.item-input.item-stacked-label
          span.input-label Comment
          textarea(ng-model="contribution.comment" placeholder="Add a message to announce your contribution!" maxlength="165")
        div.item
          div.button-bar
            button.button.button-positive.button-outline(ng-click="closeModal()") Cancel
            button.button.button-positive(type="submit") Contribute



