//- events/booking.modal.jade, mm == modal view
ion-modal-view {{item=mm.item;''}}
  ion-content
    div.list.card {{host=vm.lookup['host'];''}}
      div.item.item-divider.item-positive
        div.light.larger Share: {{item.title}}

      //- # Share event  
      div(ng-hide="mm.links.event")  
        div.item
          div.larger Share Event
          p.wrap This event is by invitation only. The host has asked that you not share the direct link to this event.
      div(ng-show="mm.links.event")  
        div.item
          div.larger Share Event
          p.wrap Share a public link to this event and let others join.
        div.item.item-input.item-icon-right.item-stacked-label
          input.selectable(type="text" name="share" ng-model="mm.links.event" onclick="this.select()" readonly)
          i.icon.ion-ios-upload

      //- # Share Invitation
      div(ng-hide="mm.links.invitations")  
        div.item
          div.larger Share Event
          p.wrap The host has asked that you not share invitations to this event.
      div(ng-show="mm.links.invitations") 
        div.item
          div.larger Share Invitation
          p.wrap Share an invitation to this event and track responses, including 'no' and 'maybe'.
        div.item.item-input.item-icon-right.item-stacked-label(ng-repeat="invite in mm.links.invitations")
          i.icon.ion-ios-upload
          input.selectable(type="text" name="share" ng-model="invite.link" onclick="this.select()" readonly)
          div.row.fine.
            Views: {{invite.views}}. Expires {{invite.expires}} or {{invite.remaining}} views.


      //- close
      div.item
        button.button.button-block.button-positive(ng-click="closeModal('CANCELED')") Close
        
       
