//  To customize the look and feel of Ionic, you can override the variables
//  in ionic's _variables.scss file.
//
//  For example, you might change some of the default colors:
//
//  $light:                           #fff !default;
//  $stable:                          #f8f8f8 !default;
//  $positive:                        #387ef5 !default;
//  $calm:                            #11c1f3 !default;
//  $balanced:                        #33cd5f !default;
//  $energized:                       #ffc900 !default;
//  $assertive:                       #ef473a !default;
//  $royal:                           #886aea !default;
//  $dark:                            #444 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: '../lib/ionic/fonts' !default;

// Include all of Ionic
@import '../../../bower_components/ionic/scss/ionic';


// ionic-material 
$RobotoDraftFontPath: "../lib/robotodraft/fonts"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";

@import '../../../bower_components/robotodraft/sass/robotodraft.scss';

.has-mask {
  &:after {
    content: '';
    background: -webkit-linear-gradient(top, transparent 20%, rgba(0, 0, 0, 0.8) 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
  }
}
.has-mask-reverse:after {
  @extend .has-mask:after;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, transparent 80%);
}

.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  margin: -10px;
}

#profile {
  .hero {
    .hero-bg {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 170px;
      z-index: -1;
    }
    .hero-toolbar {
      position: absolute;
      top: 170px;
      right: 0;
      font-size: 24px;
    }
    .face {
      border-radius: 50%;
      border: 2px solid white;
    }
  }
}
