
ion-side-menus(
  enable-menu-with-back-views="false"
  )

  // Menu Content
  ion-side-menu-content(edge-drag-threshold="true")
    ion-nav-bar.bar-positive
      ion-nav-back-button.button-clear
      ion-nav-buttons(side="primary")
        button.button.button-icon.icon.ion-navicon.back-button.flat(menu-toggle="primary")
    ion-nav-view(name="menuContent")
      ion-view
        ion-content

  // LEFT Menu
  ion-side-menu(
    xxx-expose-aside-when="large"
    side="left"
    width="175")
    ion-header-bar.bar-positive
      h1.title Menu
    ion-content.positive-bg.light
      ion-list
        ion-item(nav-clear, menu-close, ui-sref="app.home") Home
        ion-item(nav-clear, menu-close, ui-sref="app.events") Events
        ion-item(nav-clear, menu-close, ui-sref="app.me") Profile
        ion-item(nav-clear, menu-close, ui-sref="app.onboard") How it Works
