// people/profile.jade
ion-view(view-title="{{vm.title}}")
  ion-content#profile.has-header.light-bg{{me=vm.me;''}}
    div.hero-a
      div.content
        div.hero-wrap.has-mask-reverse
          div.hero-bg.blur(ng-style="vm.imgAsBg(vm.me.face)")
        div.hero-toolbar.padding
          i.padding-left.icon.ion-heart.dark
          i.padding-left.icon.ion-ios-upload.dark
        div.text-center.padding
          h2.light.text-center {{me.displayName}}
          img.face(ng-src="{{vm.me.face}}")
    div.text-center 
      h2.capitalize {{me.firstname}} {{me.lastname}}
      button.button.icon-left.icon.ion-chatbox Contact Me

