// people/profile.jade
ion-view(view-title="Profile")
  ion-content.has-header(xxx-ng-switch="vm.viewName()")
      div.padding-horizontal
        ion-list.card.header-card
          ion-item.item-divider.item-positive Profile
