// people/profile.jade
ion-view(view-title="{{vm.title}}")
  ion-content.has-header
    div.xxx-slide-up
      ion-list.card.header-card 
        ion-item.item-divider.item-positive Profile title={{vm.title}}

    div.list.animate-fade-slide-in-right.padding
      ion-item.item-dark Hello
      ion-item.item-dark World
