// people/profile.jade
ion-view(view-title="{{vm.title}}")
  //- ion-nav-bar.bar-balanced
  //-   button.button.back-button.button-clear.header-item.icon.ion-ios-arrow-back(
  //-     ng-click="$ionicGoBack()"
  //-     ) Back
  ion-content#profile.has-header.light-bg {{person=vm.person;''}}
    div.hero-a
      div.content
        div.hero-wrap.has-mask-reverse
          div.hero-bg.blur(ng-style="vm.imgAsBg(person.face)")
        div.hero-toolbar.padding
          i.padding-left.icon.ion-heart.dark
          i.padding-left.icon.ion-ios-upload.dark
        div.text-center.padding
          h2.light.text-center {{person.displayName}}
          img.face(
            ng-style="vm.imgAsBg(person.face)"
            )
    div.text-center(ng-if="vm.me != person") 
      h2.capitalize {{person.firstname}} {{person.lastname}}
      button.button.icon-left.icon.ion-chatbox Contact Me

    div#admin-change-user.content.row.responsive-sm(ng-if="vm.isDev()")
      div.col.col-offset-25.col-50
        div.row(ng-hide="dev.settings.show=='admin'")
          div.col
            div.padding.text-center
              button.button.button-assertive.icon.ion-gear-b(
                ng-click="dev.on.selectUser()"
                )
                span.padding-left Change User
                
        div.row(ng-show="dev.settings.show=='admin'")
          div.col
            div.list.card.condensed
              div.item.item-assertive.item-icon-right
                h2.title.light Select User for Testing
                i.light.icon.ion-close(ng-click="dev.settings.show='less'")
              a.item.item-avatar(
                ng-repeat="person in vm.people"
                ng-click="dev.on.loginUser(person)"
              )
                img(ng-src="{{person.face}}")
                b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                p id = {{person.id}}






