// home/home.jade
ion-view(view-title="{{vm.title}}")
  ion-content.has-header(delegate-handle="collection-repeat-wrap")
    div.padding-horizontal
      ion-list.card.header-card
        ion-item.item-divider.item-positive Welcome {{vm.title}}
